body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; /* Corrected property */
}

h2 {
  color: green;
  font-weight: normal; /* Added semicolon */
  font-style: italic;
}

.completed {
  font-size: 12px; /* Changed property to font-size */
}

#tasks .completed {
  background: #ccc; /* Corrected property name */
  text-decoration: underline;
}
